*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

@keyframes novelsAnimation {
    0% {
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
        z-index: 2;
    }

    100% {
        transform: scaleX(2.1);
        transform-origin: left;
        z-index: 2;
    }
}

@keyframes parteIzquierda {
    0% {
        width: 100%;
        height: 100%;
    }

    50% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 30%;
        height: 100%;
    }
}
/*no se activa ya que no aparece entonces como jsjssj xd no sirve con hover*/
@keyframes parteDerecha {
    0% {
        display: none;
    }

    50% {
        display: none;
    }

    100% {
        display: block;
        width: 70%;
        height: 100%;
    }
}

body{
    width: 100%;
    min-height: 100dvh;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;/*horizontal*/
    justify-content: space-between;/*para el eje principal*/
    align-items: center;/*para el otro eje*/
    padding: 10px;
    background: black;

    nav {
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
            gap: 1rem;

            li {
                a {
                    text-decoration: none;
                }

                a:hover {
                    color: gray;
                }
            }
        }
    }
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #2b2525;
    align-items: center;
    gap: 1rem;
    height: auto;
    position: relative;

    section {
        display: flex;
        flex-direction: column;
        width: 70%;
        min-height: 70dvh;
        height: auto;
        justify-content: space-around;
        background-color: #534c4c;

        .filas-novelas {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 45%;
            background-color: red;
            gap: 1rem;

            .novels {
                flex: 1;
                display: flex;
                flex-direction: row;
                background-color: blue;
                height: 100%;
                cursor: pointer;

                .parteIzquierda {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    background-color: darkred;
                    position: relative;

                    .filtro {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                        background-color: transparent;
                    }

                    .filtro:hover {
                        background-color: rgba(255, 0, 0, 0.2);
                    }

                    .imagen {
                        width: 100%;
                        height: 85%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .titulo {
                        width: 100%;
                        height: 15%;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h3 {
                            text-transform: capitalize;
                            font-weight: 100;
                            font-size: 1rem;
                            white-space: wrap;
                        }
                    }
                }

                .parteIzquierda:hover {
                    animation: parteIzquierda 1s forwards;
                }

                .parteDerecha {
                    display: none;
                    background-color: white;
                }

                .parteDerecha:hover {
                    animation: parteDerecha 1s forwards;
                }
            }

            .novels:hover {
                animation: novelsAnimation 1s forwards;
            }
        }
    }
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 5%;
    background-color: white;
    width: 10%;
    height: 70dvh;
}

footer {
    background: black;
    width: 100%;
}