*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

@keyframes novelsAnimation {
    0% {
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
        z-index: 2;
    }

    100% {
        transform: scaleX(2.1);
        transform-origin: left;
        z-index: 2;
    }
}

body{
    width: 100%;
    min-height: 100dvh;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;/*horizontal*/
    justify-content: space-between;/*para el eje principal*/
    align-items: center;/*para el otro eje*/
    padding: 10px;
    background: black;

    nav {
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
            gap: 1rem;

            li {
                a {
                    text-decoration: none;
                }

                a:hover {
                    color: gray;
                }
            }
        }
    }
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #2b2525;
    align-items: center;
    gap: 1rem;
    height: auto;

    section {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 70dvh;
        gap: 0.5rem;
        background-color: #534c4c;

        .novels-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 1rem;
            flex: 1;

            .novels {
                display: flex;
                flex-direction: column;
                background: darkgray;
                flex: 1;
                position: relative;

                a {
                    .lamina {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: transparent;
                        z-index: 2;
                        transition: background-color 0.3s ease;
                    }

                    .lamina:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                        cursor: pointer;
                    }
                }

                .portada {
                    width: 100%;
                    height: 90%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .titulo {
                    text-transform: initial;
                    width: 100%;
                    height: 10%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }

            .novels:hover {
                animation: novelsAnimation 1.5s forwards;
            }
        }
    }
}

footer {
    background: black;
    width: 100%;
}